body{
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar{
    display: flex;
    justify-content: flex-end;
}
.navbar-item{
    display: flex;
    list-style-type: none;
}
.navbar-item a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: black;
}
.navbar a:hover{
    color: white;
    background-image: linear-gradient(cyan,blue);
    border-radius: 10px;
    
}
.top-container{
    display: flex;
    margin-top: 150px;
}
.about-container{
    display: flex;
    margin-top: 150px;
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.half-part h1{
    font-size: 60px;
}
.half-part{
    width: 100%;
    margin-left: 5%;
    margin-right: 4%;
}
.half-part img{
    width: 100%;
}
.heading-color{
    color:orange;
}
.link-button {
    text-decoration: none;
    padding: 20px;
    border-radius: 50px;
    background-image: linear-gradient(orange,orangered);
    color: white;
    font-size: 20px;
}
#icon{
    margin-right: 13px;
    margin-top: 32px;
}
.about-paragraph{
    margin-bottom: 150px;
}

.recipe{
    
    margin-top: 100px;
    background: ghostwhite;
}
.recipe-color{
    color: rgb(32, 30, 30);
    font-size: 35px;
    
    padding-top:90px;
    text-align: center;
}
.recipe-description{
    text-align: center;
    justify-content: center;
}
.recipe-container{
    margin-top: 150px;
    display: flex;
     
}
.recipe-item{
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px rgb(78, 75, 75);
    border-radius: 25px;
}
.recipe-item img{
    width: 100%;
}
.recipe-item h3{
    font-size: 35px;
    font-weight: 800;
}
.footer-section{
    width: 100%;
    height: 200px;
    background: black;
    margin-top: 60px;
}
.footer-section h1{
    color: rgb(126, 124, 124);
    text-align: center;
    padding: 25px;
    margin-top: 20px;
    font-size: 35px;

}
.food-color{
    color: orange;
}
.footer-section p{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}